*{text-align:center;color:#522a06;padding:0px;margin:0px;font-size:12px;font-family:'ו';}
			
ul{list-style-type:none;}
			
li{text-align:left;list-style-position:inside;}
			
a:link{text-decoration:none;color:#522a06;}
			
a:hover{text-decoration:underline;}
			
body{background:url(../images/bodybg.gif);width:100%;margin:auto;}
			
#header{height:205px;background:url(images/bg.gif) no-repeat center top;}
			
#banner{height:130px;width:1000px;padding-top:30px;margin:auto;}
			
#banner img{display:block;margin-left:10px;}
			
#nav{height:40px;background:url(../images/nav.jpg);margin:auto;}
			
.nav_content{width:800px;font-weight:bolder;color:#fff;height:40px;padding-top:12px;margin-left:120px;float:left;}
			
.nav_content a{color:#fff;}
			
.nav_content a:hover{color:#f9f603;text-decoration:none;}
			
.shouye{color:#f9f603;}
			
.nav_search{float:left;width:200px;height:21px;background-color:#f8f5ee;margin-top:10px;padding-right:0px;}
			
.sousuokuang{width:140px;height:21px;border:none;}
			
.button{width:44px;height:21px;background-color:#000;color:#fff;border:1px solid #f8f5ee;}

			
#zhengwen{width:1000px;overflow:hidden;margin-left:200px;margin-right:200px;clear:both;float:left;}
			
#contentleft{width: 700px;float: left;}
			
#mianbaoxie{height:40px;line-height:40px;text-align:left;padding-left:43px;text-align:left;}
			
#p1{font-size: 16px;height: 45px;line-height: 45px;text-align: center;font-weight: bolder;border-bottom: 1px solid #c9baa5;}
			
#p2{font-size: 12px;text-align: center;font-weight: none;color: #757575;margin: 10px;}
			
#neirong{line-height: 28px;padding: 10px;font-size: 14px;border-bottom: 1px solid #c9baa5;}
			
#neirong p{text-indent: 2em;margin-top: 5px;text-align: left;}
			
#neirong img{margin: 20px;}
			
#lianjie{height: 40px;line-height: 40px;margin-top: 10px;font-size: 13px;}
			
#lianjie a:link{margin-right: 40px;color: #844004;font-size: 13px;}
			
#contentright{width: 280px;float: left;margin-left: 16px;}
			
#shang{border: 1px solid #c9baa5;background-image: url(../images/bg.png);margin-bottom: 20px;}
			
#shang img{margin-bottom: 10px;margin: auto;}
			
#shang ul li{line-height: 30px;margin-left: 13px;}
			
#xia{width: 280px;margin-top: 20px;margin-bottom: 20px;}
			
#xia img{margin-top: 25px;margin-bottom: 15px;margin: auto;}
			
#jieshaomingjia{height: 362px;background-image: url(../images/show_bg.png);background-repeat: no-repeat;}
			
#mingjia{padding-top: 25px;margin-left: 5px;}
			
#jieshuo{margin-top: 15px;margin-right: 30px;padding-bottom: 0px;margin-left: 25px;line-height: 20px;text-align: left;}
			
#mingzi{color: #b70000;font-weight: bold;}
			
.img{margin: 0px;padding-right: 2px;padding-left: 15px;float: left;}
			
.img1{margin: 0px;padding-right: 2px;float: left;}
			
.img2{margin: 0px;padding-top: 3px;padding-right: 2px;padding-left: 2px;float: left;}

#footer{padding-top:50px;height:105px;clear:both;background:url(../images/foot.gif);width:1000px;background-repeat: no-repeat;margin-left:200px;}
			
.youqinglianjie{margin-left:60px;padding-top:10px;}