
html{font-size:12px;color:gray;font-family:Arial;}
html{line-height:2em;}
a{color:#727272;text-decoration:none;}
a:hover{text-decoration:underline;}
.putong{font-size:14px;color:#b9f605;font-weight:bolder;}
.white{color:white;}
.no1 a:hover{color:#b9f605;text-decoration:none;}
#finally{color:#fdb306;}
p{text-indent:2em;}